package {{packageName}};

import org.mercurydb.queryutils.*;
import java.util.*;

import {{fullSourceClass}};

@SuppressWarnings("unused")
public class {{sourceClass}}{{tableSuffix}} {

    public static final TableID<{{sourceClass}}> ID = TableID.<{{sourceClass}}>createName();

    /**
     * Create a temporary alias for this table, for joins.
     */
    public static TableID<{{sourceClass}}> createAlias() {
        return TableID.<{{sourceClass}}>createAlias();
    }

    public static final List<{{sourceClass}}> table = new ArrayList<{{sourceClass}}>();

    public static final Class<{{sourceClass}}> containedClass = {{sourceClass}}.class;

    // Maps for indexed fields
    {{#fields}}
    {{#hasIndex}}
    {{#isOrdered}}
    private static Map<{{type}}, Set<{{sourceClass}}>> {{name}}Index = new TreeMap<>();
    {{/isOrdered}}
    {{^isOrdered}}
    private static Map<{{type}}, Set<{{sourceClass}}>> {{name}}Index = new HashMap<>();
    {{/isOrdered}}

    {{/hasIndex}}
    {{/fields}}
    public static void insert({{sourceClass}} val) {
        {{#fields}}
        {{#hasIndex}}
        // Populate {{name}} index
        Set<{{sourceClass}}> {{name}}Set = {{name}}Index.get(val.{{name}});
        if ({{name}}Set == null) {
            {{name}}Set = new HashSet<{{sourceClass}}>();//Collections.newSetFromMap(new WeakHashMap<{{sourceClass}}, Boolean>());
        }
        {{name}}Set.add(val);
        {{name}}Index.put(val.{{name}}, {{name}}Set);
        {{/hasIndex}}
        {{/fields}}
        // Populate standard table if T(val) == {{sourceClass}}
        if ({{sourceClass}}.class.equals(val.getClass())) {
            table.add(val);
        }
        {{#hasSuper}}
        // Populate super table indices
        {{cSuper}}{{tableSuffix}}.insert(val);
        {{/hasSuper}}
    }

    public static void remove({{sourceClass}} val) {
        // Remove from table
        if ({{sourceClass}}.class.equals(val.getClass())) {
            table.remove(val);
        }
        {{#fields}}
        {{#hasIndex}}
        // Remove from {{name}} index
        {{name}}Index.get(val.{{name}}).remove(val);
        {{/hasIndex}}
        {{/fields}}
        {{#hasSuper}}
        // Remove from {{cSuper}} indices (superclass)
        {{cSuper}}{{tableSuffix}}.remove(val);
        {{/hasSuper}}
        // Remove from subclass indices
        {{#subClasses}}
        if ({{toString}}{{tableSuffix}}.containedClass.isInstance(val)) {
            {{toString}}{{tableSuffix}}.remove({{toString}}{{tableSuffix}}.containedClass.cast(val));
            return;
        }
        {{/subClasses}}
    }

    // Set methods - make sure you use these on indexed fields for consistency!
    {{#fields}}
    {{^isFinal}}
    public static void set{{CCname}}({{sourceClass}} instance, {{rawType}} val) {
        {{#hasIndex}}
        {{name}}Index.get(instance.{{name}}).remove(instance);
        instance.{{name}} = val;
        Set<{{sourceClass}}> {{name}}Set = {{name}}Index.get(instance.{{name}});
        if ({{name}}Set == null) {
            {{name}}Set = new HashSet<{{sourceClass}}>();//Collections.newSetFromMap(new WeakHashMap<{{sourceClass}}, Boolean>());;
            {{name}}Index.put(instance.{{name}}, {{name}}Set);
        }
        {{name}}Set.add(instance);
        {{/hasIndex}}
        {{^hasIndex}}
        instance.{{name}} = val;
        {{/hasIndex}}
    }

    {{/isFinal}}
    {{/fields}}

    public static final class field {
        {{#fields}}
        public static FieldExtractableSeed<{{sourceClass}}> {{name}}(TableID<{{sourceClass}}> id) {
            return new FieldExtractableSeed<{{sourceClass}}>(id) {
                @Override
                public Object extractField(Object instance) {
                    return (({{sourceClass}})instance).{{name}};
                }

                @Override
                public Class<?> getContainerClass() {
                    return {{sourceClass}}.class;
                }

                @Override
                public boolean isIndexed() {
                    {{#hasIndex}}
                    return true;
                    {{/hasIndex}}
                    {{^hasIndex}}
                    return false;
                    {{/hasIndex}}
                }

                @Override
                @SuppressWarnings("unchecked") // casting with (Map)
                public Map<Object, Set<Object>> getIndex() {
                    {{#hasIndex}}
                    return (Map) {{name}}Index;
                    {{/hasIndex}}
                    {{^hasIndex}}
                    return null;
                    {{/hasIndex}}
                }

                @Override
                public HgStream<{{sourceClass}}> getDefaultStream() {
                    return stream();
                }
            };
        }

        {{/fields}}
    }

    public static FieldExtractableSeed<{{sourceClass}}> self(TableID<{{sourceClass}}> id) {
        return new FieldExtractableSeed<{{sourceClass}}>(id) {
            @Override
            public Object extractField(Object instance) {
                return instance;
            }

            @Override
            public Class<?> getContainerClass() {
                return {{sourceClass}}.class;
            }

            @Override
            public boolean isIndexed() {
                return false;
            }

            @Override
            public Map<Object, Set<Object>> getIndex() {
                return null;
            }

            @Override
            public HgStream<{{sourceClass}}> getDefaultStream() {
                return stream();
            }
        };
    }

    public static final JoinField on = new JoinField(ID);

    public static JoinAsField as(TableID<{{sourceClass}}> id) {
        return new JoinAsField(id);
    }

    public static class JoinAsField {
        public final JoinField on;

        public JoinAsField(TableID<{{sourceClass}}> aliasId) {
            this.on = new JoinField(aliasId);
        }
    }

    public static class JoinField {
        private final TableID<{{sourceClass}}> id;

        public JoinField(TableID<{{sourceClass}}> aliasId) {
            this.id = aliasId;
        }

        {{#fields}}
        public HgTupleStream {{name}}() {
            return stream().joinOn(field.{{name}}(id));
        }
        {{/fields}}
    }

    public static class eq {
        {{#fields}}
        public static FieldExtractableRelation<{{sourceClass}}, {{type}}>
        {{name}}({{type}} val) {
            return new FieldExtractableRelation<{{sourceClass}}, {{type}}>(field.{{name}}(ID), HgRelation.EQ, val);
        }
        {{/fields}}
    }

    public static class ne {
        {{#fields}}
        public static FieldExtractableRelation<{{sourceClass}}, {{type}}>
        {{name}}({{type}} val) {
            return new FieldExtractableRelation<{{sourceClass}}, {{type}}>(field.{{name}}(ID), HgRelation.NE, val);
        }
        {{/fields}}
    }

    public static class lt {
        {{#fields}}
        public static FieldExtractableRelation<{{sourceClass}}, {{type}}>
        {{name}}({{type}} val) {
            return new FieldExtractableRelation<{{sourceClass}}, {{type}}>(field.{{name}}(ID), HgRelation.LT, val);
        }
        {{/fields}}
    }

    public static class le {
        {{#fields}}
        public static FieldExtractableRelation<{{sourceClass}}, {{type}}>
        {{name}}({{type}} val) {
            return new FieldExtractableRelation<{{sourceClass}}, {{type}}>(field.{{name}}(ID), HgRelation.LE, val);
        }
        {{/fields}}
    }

    public static class gt {
        {{#fields}}
        public static FieldExtractableRelation<{{sourceClass}}, {{type}}>
        {{name}}({{type}} val) {
            return new FieldExtractableRelation<{{sourceClass}}, {{type}}>(field.{{name}}(ID), HgRelation.GT, val);
        }
        {{/fields}}
    }

    public static class ge {
        {{#fields}}
        public static FieldExtractableRelation<{{sourceClass}}, {{type}}>
        {{name}}({{type}} val) {
            return new FieldExtractableRelation<{{sourceClass}}, {{type}}>(field.{{name}}(ID), HgRelation.GE, val);
        }
        {{/fields}}
    }

    public static class in {
        {{#fields}}
        public static FieldExtractableRelation<{{sourceClass}}, {{type}}>
        {{name}}({{type}} val) {
            return new FieldExtractableRelation<{{sourceClass}}, {{type}}>(field.{{name}}(ID), HgRelation.IN, val);
        }
        {{/fields}}
    }

    public static FieldExtractablePredicate<{{sourceClass}}, {{sourceClass}}>
    predicate (HgPredicate<{{sourceClass}}> predicate) {
        return new FieldExtractablePredicate<{{sourceClass}}, {{sourceClass}}>(self(ID), predicate);
    }

    public static class predicates {
        {{#fields}}
        public static FieldExtractablePredicate<{{sourceClass}}, {{type}}>
        {{name}}(HgPredicate<{{type}}> predicate) {
            return new FieldExtractablePredicate<{{sourceClass}}, {{type}}>(field.{{name}}(ID), predicate);
        }
        {{/fields}}
    }

    public static HgWrappedIterableStream<{{sourceClass}}> stream() {
        /*
         * Here we need to do a tree traversal such that
         * every possible subclass table is joined with
         * this classes table in the stream
         */

        HgWrappedIterableStream<{{sourceClass}}> result = new HgRetrievalStream<{{sourceClass}}>(table);
        {{#subClasses}}
        result = result.concat({{toString}}{{tableSuffix}}.stream());
        {{/subClasses}}
        return result;
    }
}
